@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

body, #app {
  width: 100%;
  min-height: 100vh;

}

.App {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}